.bottoneGG {
  margin-bottom: 90px;
  background-color: black;
  padding: 5px 10px;
  border-radius: 10px;
  color: beige;
}
.bottoneI {
  margin-bottom: 90px;
  background-color: rgb(205, 228, 158);
  padding: 2px 10px;
  border-radius: 0px;
  color: black;
}
.bottoneF {
  margin-bottom: 90px;
  background-color: blue;
  padding: 5px 10px;
  border-radius: 10px;
  color: aliceblue;
}
.bottoneM {
  margin-bottom: 90px;
  background-color: cyan;
  padding: 5px 10px;
  border-radius: 10px;
  color: black;
}
.bottoneA {
  margin-bottom: 90px;
  background-color: blue;
  padding: 5px 10px;
  border-radius: 10px;
  color: whitesmoke;
}
.bottoneMM {
  margin-bottom: 90px;
  background-color: greenyellow;
  padding: 5px 10px;
  border-radius: 10px;
  color: black;
}
.bottoneG {
  margin-bottom: 90px;
  background-color: blue;
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
}
.bottoneL {
  margin-bottom: 90px;
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
  color: black;
}
.bottoneAA {
  margin-bottom: 90px;
  background-color: blue;
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
}
.bottoneS {
  margin-bottom: 90px;
  background-color: red;
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
}
.bottoneOT {
  margin-bottom: 90px;
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
  color: red;
}
.bottoneNOV {
  margin-bottom: 90px;
  background-color: blue;
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
}
.bottoneDIC {
  margin-bottom: 90px;
  background-color: red;
  padding: 5px 10px;
  border-radius: 10px;
  color: beige;
}
