.bottoneI {
  margin-bottom: 90px;
  background-color: blue;
  padding: 5px 10px;
  border-radius: 10px;
  color: aliceblue;
}
.bottoneF {
  margin-bottom: 90px;
  background-color: blue;
  padding: 5px 10px;
  border-radius: 10px;
  color: aliceblue;
}
.bottoneM {
  margin-bottom: 90px;
  background-color: green;
  padding: 5px 10px;
  border-radius: 10px;
  color: aliceblue;
}
.bottoneA {
  margin-bottom: 90px;
  background-color: rgb(188, 188, 50);
  padding: 5px 10px;
  border-radius: 10px;
  color: black;
}
