* {
  margin: 0;
  padding 10;
}
html {
  margin: 0px;
  height: 100%;
  width: 100%;
  }
  
  body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  }
.febbraio {
  width: 450px;
  height: 740px;
  background-image: url("immagini/inverno.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400pt;
}
.febbraio1{
  font-size: 4em;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(196, 19, 19);
  text-align: center;
  padding: 20% 0 0 0;
  text-transform: uppercase;
}
.bottoneF {
  background-color: green;
  padding: 5px 10px;
  border-radius: 10px;
  color: aliceblue;
}
.marzo {
  width: 450px;
  height: 740px;
  background-image: url("immagini/inverno.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400pt;
}
.marzo1{
  font-size: 4em;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(196, 19, 19);
  text-align: center;
  padding: 20% 0 0 0;
  text-transform: uppercase;
}
