* {
  margin: 0;
}
body,
html {
  overflow-y: hidden;
}
.intro {
  float: left;
  width: 360px;
  height: 740px;
  background-color: azure;
}
.feb,
.mar,
.apr,
.mag,
.giu,
.lug,
.ago,
.set {
  padding-top: 50px;
}
.febbraio {
  float: left;
  width: 360px;
  height: 700px;
  background-image: url("immagini/inverno.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 40px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 4em;
  color: red;
  text-shadow: 0 6px black;
}

.marzo {
  float: left;
  width: 360px;
  height: 700px;
  background-image: url("immagini/primavera1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 40px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 4em;
  color: cyan;
  text-shadow: 0 5px black;
}
.aprile {
  float: left;
  width: 360px;
  height: 700px;
  background-image: url("immagini/aprile2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 40px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 4em;
  color: blue;
  text-shadow: 0 5px black;
}
.maggio {
  float: left;
  width: 360px;
  height: 700px;
  background-image: url("immagini/ciliege.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 40px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 4em;
  color: yellow;
  text-shadow: 0 5px black;
}
.giugno {
  float: left;
  width: 360px;
  height: 700px;
  background-image: url("immagini/cocomero.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 40px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 4em;
  color: blue;
  text-shadow: 0 5px black;
}
.luglio {
  float: left;
  width: 360px;
  height: 700px;
  background-image: url("immagini/giugno1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 40px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 4em;
  color: white;
  text-shadow: 0 8px black;
}
.agosto {
  float: left;
  width: 360px;
  height: 700px;
  background-image: url("immagini/stellato1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 40px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 4em;
  color: yellow;
  text-shadow: 0 10px black;
}
.settembre {
  float: left;
  width: 360px;
  height: 700px;
  background-image: url("immagini/alberi.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 40px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 3.5em;
  color: red;
  text-shadow: 0 10px black;
}
