* {
  margin: 0;
}
.intro {
  float: left;
  width: 360px;
  height: 740px;
  background-color: azure;
}
.febbraio {
  float: left;
  width: 360px;
  height: 700px;
  background-image: url("immagini/inverno.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 40px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 4em;
  color: red;
  text-shadow: -1px 0 black, 0 5px black, 1px 0 black, 0 -1px black;
}

.marzo {
  float: left;
  width: 360px;
  height: 700px;
  background-image: url("immagini/primavera1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 40px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 4em;
  color: cyan;
  text-shadow: -1px 0 black, 0 4px black, 1px 0 black, 0 -1px black;
}
.aprile {
  float: left;
  width: 360px;
  height: 700px;
  background-image: url("immagini/primavera1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 40px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 4em;
  color: blue;
  text-shadow: -1px 0 black, 0 4px black, 1px 0 black, 0 -1px black;
}
.maggio{
    float: left;
    width: 360px;
    height: 700px;
    background-image: url("immagini/ciliege.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 40px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 4em;
    color: yellow;
    text-shadow: -1px 0 black, 0 4px black, 1px 0 black, 0 -1px black;
  }
}
